<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpModules>
      <add name="AspNet.Taco" type="AspNet.Taco.AspNetTacoModule, AspNet.Taco, Version=1.0.0.0, Culture=neutral" />
    </httpModules>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AspNet.Taco" type="AspNet.Taco.AspNetTacoModule, AspNet.Taco, Version=1.0.0.0, Culture=neutral" />
    </modules>
  </system.webServer>

</configuration>
